{% extends "account/base_entrance.html" %}
{% load i18n %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="h4 mb-3">{% translate "Logout" %}</h1>
                <p>{% translate "Do you really want to log out?" %}</p>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {{ redirect_field }}
                    <button type="submit" class="btn btn-primary">{% translate "Logout" %}</button>
                    <a href="{% url 'dashboard:index' %}" class="btn btn-outline-secondary">{% translate "Cancel" %}</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
