{% extends "account/base_entrance.html" %}
{% load i18n %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="h4 mb-3">{% translate "Password reset" %}</h1>
                <div class="alert alert-success py-2">
                    {% translate "We have sent you an e-mail. If you have not received it, please check your spam folder." %}
                </div>
                <a href="{% url 'account_login' %}" class="btn btn-outline-secondary">{% translate "Back to login" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
